 <!DOCTYPE html>
<html>
<head>
  <title>Jobyy</title>
  <!-- <style rel="stylesheet" type="text/css" href="stylesheet.css"> </style> -->
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
</head>
<body>
 <div class="container">
    <form action="/delete_shift" method="post">
    <h6> Note that after submitting this form you wont be able to restor </h6>
    <br>
  Insert the serial number of the lab you wish to delete:
  <input type="text" name="id_shift">
  <br>

  <h4 id="danger"> <b style="color: red; "> {{error}} </b> </h4>
  <br>
  <input type="submit" value="Send">
</form>
  </div>

</body>
</html>