<!DOCTYPE html>
<html>
<head>
	<title>JobyyT</title>
  <!-- <style rel="stylesheet" type="text/css" href="stylesheet.css"> </style> -->
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
</head>


<body>


<form method="post" action="/">
  <div class="imgcontainer">
    <img src="img_avatar2.png"  alt="Jobyy time"  class="imgcontainer">
    <h1 style="font-size: 100, color: "Blue" >JobbyT </h1>
  </div>
  <h2 class="imgcontainer" >welcome to Jobby Time! </h2>
  <br>
    <h3 class="imgcontainer" >  use our website to keep in track of your working hours and shifts! make sure you don't forget any work time you should be paid for! signin to look at your profile </h3>

  <button type="submit" style=" background-color: #2E64FE; color: black; "> <a href="{{url_for('register')}}" style="color: black;"> Creat a new acount for free </a> </button>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <br>
    <input type="text" placeholder="Enter Username" name="uname">
    <br>
    <label for="psw"><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw">
    <button type="submit">Login</button>
    <br>
    <h4 id="danger"> <b style="color: red; "> {{error}} </b> </h4>

  </div>

  <div class="container" style="background-color:#f1f1f1">
<!--     <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span> -->
  </div>
</form>
</body>
</html>